@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Libre+Barcode+128&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100..900&display=swap");
:root {
  --glowing-yellow: 0px 0px 20px 0px rgba(232, 170, 65, 1);
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: "Bungee", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url("/background.png");
  z-index: -1;
  opacity: 1;
}

button:focus-visible {
  outline: 2px solid #e8aa41 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#app .child-left, #app .child-main, #app .child-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .child-left {
  width: 20rem;
  margin-left: 40px;
  margin-right: 40px;
  flex-direction: column;
  gap: 20px;
}
#app .child-left .text-wrapper {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 15px;
}
#app .child-left .text-wrapper h1 {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  color: white;
}
#app .child-left .text-wrapper .top {
  padding: 20px 20px;
}
#app .child-left .text-wrapper .top .special-text {
  -webkit-text-stroke: 1px #e8aa41;
  color: #ffffff;
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 5.76px;
  line-height: normal;
  text-shadow: 0px 0px 10px #e8aa41, 0px 0px 20px #e8aa41;
}
#app .child-left .text-wrapper .bottom {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#app .child-left .text-wrapper .bottom .h1-two {
  padding-top: 20px;
}
#app .child-left .text-wrapper .bottom a {
  color: #e8aa41;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-top: 20px;
}
#app .child-left .text-wrapper .bottom a:hover {
  text-decoration: underline;
  color: #e8aa41;
}
#app .child-main {
  -webkit-backdrop-filter: blur(18px) brightness(100%);
  backdrop-filter: blur(18px) brightness(100%);
  background-color: rgba(240, 213, 249, 0.0117647059);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 21.5px 4px #fff;
}
#app .child-right {
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
#app .child-right .button {
  background-color: #5ba0f1;
  color: white;
  border: none;
  padding: 20px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}
#app .child-right .button:hover {
  background-color: #fff;
  color: black;
}
#app .child-right button {
  background-color: #6ec531;
  color: white;
  border: none;
  padding: 20px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}
#app .child-right button:hover {
  background-color: #fff;
  color: black;
}

#game-container {
  background-color: black;
  width: 700px;
  height: 780px;
}

/*# sourceMappingURL=output.css.map */
